body{
    background-color: rgba(245, 239, 239,0.2);
}

.par{
    display: flex;
    flex-direction: row;
}

.nav{
    height: 741px;
    width: 13%;
    position: fixed;
    border-right: 1px solid rgb(201, 199, 199);
    display: flex;
    flex-direction: column;
}

#poster{
    margin-right: 2px;
    text-align: right;
    font-family: fantasy;
    font-size: 40px;
    color: cadetblue;
 } 

.content{
    display: flex;
    flex-direction: column;
    min-height: 741px;
margin-left: 16%;
    width: 80%;
}

#navid{
    position: relative;
    left: 65%;
    background-color: rgba(189, 183, 183,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20%;
    margin-top: 310px;
    width: 28%;
    height: 30%;
} 

i{
    color: cadetblue;
}

.content .blog{
    height: 160px;
    background-color: rgb(207, 207, 219,0.1);
    margin-top: 10px;
    padding: 20px;
    color: dimgray;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow-y: hidden; */
}



.post-content{
    height: 70px;
    overflow-y: hidden;
}

.content .blog .user{
    font-weight: 600;
    color: black;
}

.content .blog .head-blog{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content .blog .set{
    color:black;
    direction: rtl;
}
/* 
.content div{
    height: 160px;
    background-color: rgb(207, 207, 219,0.1);
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
} */

#navid a{
    color:rgba(47, 79, 79,0.3);
}
 a :hover{
    color:rgb(47, 79, 79);   
}  
form{
    width: 70%;
    min-height: 60%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

textarea{
    padding: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
background-color: rgba(128, 128, 128,0.1);
border-style: hidden;
 min-height: 70%; 

}

.submit-button{
    width: 10%;
    /* position: relative; */
    border-radius: 5px;
    margin-left: 90%;
    height: 40px;
    background-color: rgba(0, 139, 139,0.5);
    border-style: hidden;
}
.publish-post{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0,0.8);
    font-size: large;
    font-weight: 700;
    margin-top: 20px;
    color: cadetblue;
}